<html>
    <head>
        <title>KMUTNB Student Dashboard</title>
    </head>
<body>
    <h1>Todo list</h1>

    <form>
        <input name="todo_text" id="new_todo" placeholder="Enter a to-do item">
        <input type="date" name="date_picker" id="date_picker" placeholder="Select date">

        <select name="priority_picker" id="priority_picker" list="priority_list">
        <datalist id='priority_list'>
            <option value="" disabled selected>Select Priority</option>
            <option value="High">High</ghoption>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </datalist>
        </select>
    </form>


</html>
