<html>
    <head>
        <title>KMUTNB Student Dashboard</title>
    </head>
<body>
    <h1>Todo list</h1>

    <form method="POST">
        <input name="todo_text" id="new_todo" placeholder="Enter a to-do item"/> 
        <input type="date" name="date_picker" id="date_picker" placeholder="Select date" />

        <select name="priority" id="priority" >
            <option value="" disabled selected>Select Priority</option>
            <option value="High">High</ghoption>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        <button id="Add">Add</button>
    {% csrf_token %}
    </form>

    <table id="todo_table" width="50%">
        <tr>
            <th width="10%">Text</th>    
            <th width="10%">Date</th>
            <th width="10%">Priority</th> 
            <th width="10%">Button</th>
        </tr>
        {% for item in todo %}
        <tr>
            <td>{{ item.text }}</td>    
            <td>{{ item.date }}</td>   
            <td>{{ item.prio }}</td>
            <td>
                <form method="POST" action="/submit_item/{{ item.id }}">
                    <button name={{item.id}} id="submit" onclick="submit_item({{ item.id }})">Submit</button>
                {% csrf_token %}     
                </form>
                <form method="POST" action="/delete_item/{{ item.id }}">
                    <button name={{item.id}} id="delete" onclick="delete_item({{ item.id }})">Delete</button>
                {% csrf_token %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Complete</h1>
    <table id="complete_table" width="50%">
        <tr>
            <th width="10%">Text</th>    
            <th width="10%">Date</th>
            <th width="10%">Priority</th> 
            <th width="10%">Button</th>
        </tr>
        {% for item in complete %}
        <tr>
            <td>{{ item.text }}</td>    
            <td>{{ item.date }}</td>   
            <td>{{ item.prio }}</td>
            <td>
                <form method="POST" action="/submit_item/{{ item.id }}">
                    <button name={{item.id}} id="unsubmit" onclick="submit_item({{ item.id }})">Unsubmit</button>
                {% csrf_token %}     
                </form>
                <form method="POST" action="/delete_item/{{ item.id }}">
                    <button name={{item.id}} id="delete" onclick="delete_item({{ item.id }})">Delete</button>
                {% csrf_token %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</html>